ConexionWeb/Connected Services/ConexionSOXService/ConexionSOXService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:11774/ConexionSOXService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ConexionWeb.Models" />
  <xs:element name="ObtenerOpcionesCampo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerOpcionesCampoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ConexionWeb.Models" minOccurs="0" name="ObtenerOpcionesCampoResult" nillable="true" type="q1:ArrayOfOpcionCampoMatriz" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerOpcionCampo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerOpcionCampoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ConexionWeb.Models" minOccurs="0" name="ObtenerOpcionCampoResult" nillable="true" type="q2:OpcionCampoMatriz" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearActualizarOpcionCampo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ConexionWeb.Models" minOccurs="0" name="opcion" nillable="true" type="q3:OpcionCampoMatriz" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearActualizarOpcionCampoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearActualizarOpcionCampoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCampos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCamposResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ConexionWeb.Models" minOccurs="0" name="ObtenerCamposResult" nillable="true" type="q4:ArrayOfCampoMatriz" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCampo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCampoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ConexionWeb.Models" minOccurs="0" name="ObtenerCampoResult" nillable="true" type="q5:CampoMatriz" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearActualizarCampo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ConexionWeb.Models" minOccurs="0" name="campo" nillable="true" type="q6:CampoMatriz" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearActualizarCampoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearActualizarCampoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerRoles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ConexionWeb.Models" minOccurs="0" name="ObtenerRolesResult" nillable="true" type="q7:ArrayOfRoles" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerRol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idRol" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerRolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ConexionWeb.Models" minOccurs="0" name="ObtenerRolResult" nillable="true" type="q8:Roles" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearActualizarRol">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ConexionWeb.Models" minOccurs="0" name="rol" nillable="true" type="q9:Roles" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearActualizarRolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearActualizarRolResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMatrizControlPorAprobar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMatrizControlPorAprobarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ConexionWeb.Models" minOccurs="0" name="ObtenerMatrizControlPorAprobarResult" nillable="true" type="q10:MatrizControlesPorAprobar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearActualizarMatrizControlPorAprobar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ConexionWeb.Models" minOccurs="0" name="matriz" nillable="true" type="q11:MatrizControlesPorAprobar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearActualizarMatrizControlPorAprobarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearActualizarMatrizControlPorAprobarResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMatricesControl">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMatricesControlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ConexionWeb.Models" minOccurs="0" name="ObtenerMatricesControlResult" nillable="true" type="q12:ArrayOfMatrizControles" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMatrizControl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMatrizControlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ConexionWeb.Models" minOccurs="0" name="ObtenerMatrizControlResult" nillable="true" type="q13:MatrizControles" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearActualizarMatrizControl">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ConexionWeb.Models" minOccurs="0" name="matriz" nillable="true" type="q14:MatrizControles" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearActualizarMatrizControlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearActualizarMatrizControlResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerActividadesControl">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerActividadesControlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ConexionWeb.Models" minOccurs="0" name="ObtenerActividadesControlResult" nillable="true" type="q15:ArrayOfActividadControl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerActividadControl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerActividadControlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ConexionWeb.Models" minOccurs="0" name="ObtenerActividadControlResult" nillable="true" type="q16:ActividadControl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearActualizarActividadControl">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ConexionWeb.Models" minOccurs="0" name="aplicacion" nillable="true" type="q17:ActividadControl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearActualizarActividadControlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearActualizarActividadControlResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcesarArchivoActividadControl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreArchivo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bytes" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcesarArchivoActividadControlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProcesarArchivoActividadControlResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcesarArchivoControl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreArchivo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bytes" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcesarArchivoControlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProcesarArchivoControlResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAplicaciones">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAplicacionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ConexionWeb.Models" minOccurs="0" name="ObtenerAplicacionesResult" nillable="true" type="q18:ArrayOfAplicaciones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAplicacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAplicacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ConexionWeb.Models" minOccurs="0" name="ObtenerAplicacionResult" nillable="true" type="q19:Aplicaciones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearActualizarAplicacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/ConexionWeb.Models" minOccurs="0" name="aplicacion" nillable="true" type="q20:Aplicaciones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearActualizarAplicacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearActualizarAplicacionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcesarArchivoAplicaciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreArchivo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bytes" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcesarArchivoAplicacionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProcesarArchivoAplicacionesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPuntosControl">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPuntosControlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/ConexionWeb.Models" minOccurs="0" name="ObtenerPuntosControlResult" nillable="true" type="q21:ArrayOfPuntoControl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPuntoControl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPuntoControlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/ConexionWeb.Models" minOccurs="0" name="ObtenerPuntoControlResult" nillable="true" type="q22:PuntoControl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearActualizarPuntosControl">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/ConexionWeb.Models" minOccurs="0" name="puntoControl" nillable="true" type="q23:PuntoControl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearActualizarPuntosControlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearActualizarPuntosControlResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcesarArchivPuntosControl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreArchivo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bytes" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcesarArchivPuntosControlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProcesarArchivPuntosControlResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerObjetivosControl">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerObjetivosControlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/ConexionWeb.Models" minOccurs="0" name="ObtenerObjetivosControlResult" nillable="true" type="q24:ArrayOfObjetivoControl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerObjetivoControl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerObjetivoControlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/ConexionWeb.Models" minOccurs="0" name="ObtenerObjetivoControlResult" nillable="true" type="q25:ObjetivoControl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearActualizarObjetivosControl">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/ConexionWeb.Models" minOccurs="0" name="objetivoControl" nillable="true" type="q26:ObjetivoControl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearActualizarObjetivosControlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearActualizarObjetivosControlResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcesarArchivoObjetivosControl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreArchivo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bytes" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcesarArchivoObjetivosControlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProcesarArchivoObjetivosControlResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerJefaturas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerJefaturasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/ConexionWeb.Models" minOccurs="0" name="ObtenerJefaturasResult" nillable="true" type="q27:ArrayOfJefatura" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerJefatura">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoArea" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerJefaturaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/ConexionWeb.Models" minOccurs="0" name="ObtenerJefaturaResult" nillable="true" type="q28:Jefatura" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearActualizarJefatura">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/ConexionWeb.Models" minOccurs="0" name="Jefatura" nillable="true" type="q29:Jefatura" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearActualizarJefaturaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearActualizarJefaturaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcesarArchivoJefaturas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreArchivo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bytes" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcesarArchivoJefaturasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProcesarArchivoJefaturasResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerRiesgosCorporativos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerRiesgosCorporativosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/ConexionWeb.Models" minOccurs="0" name="ObtenerRiesgosCorporativosResult" nillable="true" type="q30:ArrayOfRiesgoCorporativo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerRiesgosSOX">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerRiesgosSOXResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/ConexionWeb.Models" minOccurs="0" name="ObtenerRiesgosSOXResult" nillable="true" type="q31:ArrayOfRiesgoSOX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerRegistrosGobierno">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerRegistrosGobiernoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/ConexionWeb.Models" minOccurs="0" name="ObtenerRegistrosGobiernoResult" nillable="true" type="q32:ArrayOfGobierno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcesarRiesgosCorporativos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreArchivo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bytes" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcesarRiesgosCorporativosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProcesarRiesgosCorporativosResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcesarArchivoGobierno">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreArchivo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bytes" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcesarArchivoGobiernoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProcesarArchivoGobiernoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerRiesgoSOX">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoRiesgo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerRiesgoSOXResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/ConexionWeb.Models" minOccurs="0" name="ObtenerRiesgoSOXResult" nillable="true" type="q33:RiesgoSOX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerRegistroGobierno">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerRegistroGobiernoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/ConexionWeb.Models" minOccurs="0" name="ObtenerRegistroGobiernoResult" nillable="true" type="q34:Gobierno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearActualizarRegistroGobierno">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/ConexionWeb.Models" minOccurs="0" name="gobierno" nillable="true" type="q35:Gobierno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearActualizarRegistroGobiernoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearActualizarRegistroGobiernoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearActualizarRiesgoSOX">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/ConexionWeb.Models" minOccurs="0" name="riesgo" nillable="true" type="q36:RiesgoSOX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearActualizarRiesgoSOXResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearActualizarRiesgoSOXResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerControles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerControlesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/ConexionWeb.Models" minOccurs="0" name="ObtenerControlesResult" nillable="true" type="q37:ArrayOfControl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerControl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerControlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/ConexionWeb.Models" minOccurs="0" name="ObtenerControlResult" nillable="true" type="q38:Control" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearActualizarControl">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/ConexionWeb.Models" minOccurs="0" name="aplicacion" nillable="true" type="q39:Control" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearActualizarControlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearActualizarControlResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerServidores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerServidoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/ConexionWeb.Models" minOccurs="0" name="ObtenerServidoresResult" nillable="true" type="q40:ArrayOfServidores" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerServidor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerServidorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/ConexionWeb.Models" minOccurs="0" name="ObtenerServidorResult" nillable="true" type="q41:Servidores" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearActualizarServidor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/ConexionWeb.Models" minOccurs="0" name="servidor" nillable="true" type="q42:Servidores" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearActualizarServidorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearActualizarServidorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>